<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th> 
      <th scope="col">Project</th>
      <th scope="col">description</th>
      <th scope="col">start time</th>
      <th scope="col">end time</th>
      <th scope="col">duration</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <% @tracktimes.each do |tracktime| %>
    <tr>
      <td><%= tracktime.id %></td>
      <td>
        <%if @project=Project.find_by(id: tracktime.project_id) %>
        <%=  @project.name %>
        <% else 
          nil
        end %>  
      <% #byebug %>
      </td>
      <td><%= tracktime.description %></td>
      <td><%= l tracktime.start_time %></td>
      <% if tracktime.end_time %>
        <td><%= l tracktime.end_time %></td>
        <td>
          <% if tracktime.duration %>
          <%=Time.at(tracktime.duration).utc.strftime('%X') %>
          <% else  
          end%></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <td><%= link_to 'edit', edit_tracktime_path(tracktime) %></td>
    </tr>
    <% end %>
  </tbody>
</table>