<h1>id: <%= @tracktime.id %> の編集</h1>

<div class="mb-5">
  <%= form_with(model: @tracktime) do |f| %>
    <!-- <div class="col-sm-4 col-auto"> -->
    <div class="col-sm-3 mb-3">
      <label class="control-label" for="">説明</label>
      <%= f.text_area :description, class: 'form-control', placeholder: "description",value: @tracktime[:description], rows: 1 %>
    </div>
    <div class="col-sm-3 mb-3">
      Project
    <!-- 
      Project
      < % # = f.collection_select :name ,Project.all, :name,include_blank:"Select project" class: 'form-control', rows: 1 %>-->
    </div>
    <div class="col-sm-6 mb-3 flex-direction:row">
      <label class="control-label" for="">開始日時</label>
      <%= f.datetime_select :start_time, {}, class: 'form-control bootstrap-date' %>
    </div>
    <div class="col-sm-6 mb-3 flex-direction:row">
      <label class="control-label" for="">終了日時</label>
      <%= f.datetime_select :end_time, {}, class: 'form-control bootstrap-date' %>
    </div>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="mb-3">
  <%= link_to 'この記録を削除する', @tracktime, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } ,class: 'btn btn-danger'%>
</div>

<div class="mb-3">
   <%= link_to '戻る', root_path %> 
</div>